pipeline/0_ClimaTempo_PPL.json
{
	"name": "0_ClimaTempo_PPL",
	"properties": {
		"activities": [
			{
				"name": "SET_Date_UTC",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateUTC",
					"value": {
						"value": "@convertTimeZone(utcnow(), 'UTC', 'E. South America Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_Date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_Date_UTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date",
					"value": {
						"value": "@replace(substring(variables('DateUTC'),0,10), '-', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "API_CZ_Valor_Historico",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/ClimaTempo/API_CZ_ClimaTempo_ValorHistorico",
					"baseParameters": {
						"data_insercao": {
							"value": "@variables('Date')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "API_CZ_Previsao_Seis_Meses",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "API_CZ_Valor_Historico",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/ClimaTempo/API_CZ_ClimaTempo_PrevisaoSeisMeses",
					"baseParameters": {
						"data_insercao": {
							"value": "@variables('Date')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "API_CZ_Previsao_Quinze_Dias",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "API_CZ_Previsao_Seis_Meses",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/ClimaTempo/API_CZ_ClimaTempo_PrevisaoQuinzeDias",
					"baseParameters": {
						"data_insercao": {
							"value": "@variables('Date')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"DateUTC": {
				"type": "String"
			},
			"Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/SalesLabIM/ClimaTempo"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-29T16:13:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}