pipeline/0_Cora_ControleOrcamentario_Monitor_PPL.json
{
	"name": "0_Cora_ControleOrcamentario_Monitor_PPL",
	"properties": {
		"activities": [
			{
				"name": "DL_PZ",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Cora/ControleOrcamentario/DL_PZ_Cora_ControleOrcamentario",
					"baseParameters": {
						"dataMenosUmDia": {
							"value": "@replace(substring(adddays(variables('dataUTC'),-1),0,10), '-', '')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricks2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PZ_HZ",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DL_PZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Cora/ControleOrcamentario/PZ_HZ_Cora_ControleOrcamentario",
					"baseParameters": {
						"dataMenosUmDia": {
							"value": "@replace(substring(adddays(variables('dataUTC'),-1),0,10), '-', '')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricks2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HZ_CZ",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PZ_HZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Cora/ControleOrcamentario/HZ_CZ_Cora_ControleOrcamentario",
					"baseParameters": {
						"dataMenosUmDia": {
							"value": "@replace(substring(adddays(variables('dataUTC'),-1),0,10), '-', '')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricks2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SET_Data_UTC",
				"description": "Set the dataUTC variable.",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dataUTC",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_Data",
				"description": "Set the data.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_Data_UTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dataMenosUmDia",
					"value": {
						"value": "@replace(substring(adddays(variables('dataUTC'),-1),0,10), '-', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "PipelineStatusMonitor",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "HZ_CZ",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Operation/Monitor/PipelineStatusMonitorDatabricks",
					"baseParameters": {
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"factoryName": "adf-prod-iris-commandcenter",
						"resourceGroup": "AMBEV-IRIS-RG-EUS-ATCS-PROD",
						"checkChildrenOf": " "
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksGov",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ControleOrcamentarioQueryMonitor",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "HZ_CZ",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Operation/Brazil/Cora/ControleOrcamentario/ControleOrcamentarioQueryMonitor"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksGov",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"dataUTC": {
				"type": "String"
			},
			"dataMenosUmDia": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/Cora/ControleOrcamentario"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-04T16:27:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}