pipeline/0_DigitalCoupons_PPL.json
{
	"name": "0_DigitalCoupons_PPL",
	"properties": {
		"activities": [
			{
				"name": "SET_Data_UTC",
				"description": "Set the dataUTC variable.",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dataUTC",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_Data",
				"description": "Set the data.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_Data_UTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data",
					"value": {
						"value": "@replace(substring(variables('dataUTC'),0,10), '-', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "API_HZ",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Bees/DigitalCoupons/API_HZ_Digital_Coupons",
					"baseParameters": {
						"data": {
							"value": "@variables('data')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksB2B",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HZ_CZ_Campaigns",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "API_HZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Bees/DigitalCoupons/Campaigns/HZ_CZ_Digital_Coupons_Campaigns"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksB2B",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HZ_CZ_Pocs",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "API_HZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Bees/DigitalCoupons/Pocs/HZ_CZ_DigitalCoupons_Pocs"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksB2B",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HZ_CZ_Coupons",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "API_HZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Bees/DigitalCoupons/Coupons/HZ_CZ_DigitalCoupons_Coupons",
					"baseParameters": {
						"data": {
							"value": "@variables('data')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksB2B",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"dataUTC": {
				"type": "String",
				"defaultValue": "0000-00-00T00:00:00.0000000Z"
			},
			"data": {
				"type": "String",
				"defaultValue": "00000000"
			}
		},
		"folder": {
			"name": "Brazil/Bees/DigitalCoupons"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-06T16:27:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}