pipeline/0_DI_Revenue_Ibm_DailyOutput_PPL.json
{
	"name": "0_DI_Revenue_Ibm_DailyOutput_PPL",
	"properties": {
		"activities": [
			{
				"name": "Date_UTC",
				"description": "Set the dataUTC variable.",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date_UTC",
					"value": {
						"value": "@addHours(utcNow(),-3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Date_UTC_Today",
				"description": "Set the data.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Date_UTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date_UTC_Today",
					"value": {
						"value": "@substring(variables('Date_UTC'),0,10)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "HZ_CZ_Daily_Weather_Data_Prod",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Date_UTC_Today",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.4:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 600,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/RevenueManagement/DataAcquisition/IBM/HZ_CZ_Daily_Weather_Data_Prod",
					"baseParameters": {
						"Date": {
							"value": "@variables('Date_UTC_Today')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Date_UTC": {
				"type": "String"
			},
			"Date_UTC_Today": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/DigitalInsights/RevenueManagement/IBM_API/Output"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-15T15:57:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}