pipeline/0_DigitalComm_Scores_PPL.json
{
	"name": "0_DigitalComm_Scores_PPL",
	"properties": {
		"activities": [
			{
				"name": "CZ_CZ_DI_DigitalComm_Scores_Call_DB_ClusterJob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Secret from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Databricks JobID from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get DatabricksEndPoint from AKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Get DatabricksEndPoint from AKV').output.value",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('Get Secret from AKV').output.value)",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@concat('{\n    \"job_id\": ',activity('Get Databricks JobID from AKV').output.value,\n'}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set DNS Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_DNSName",
					"value": "https://kv-prod-iris.vault.azure.net/"
				}
			},
			{
				"name": "Set Secret",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_Secret",
					"value": "DigitalInsightsSkuPrioritizationToken"
				}
			},
			{
				"name": "Get Secret from AKV",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set DNS Name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Adb EndPoint",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Adb JobId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(variables('v_DNSName'),'secrets/',variables('v_Secret'),'/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Adb EndPoint",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_Adb_EndPoint",
					"value": "DigitalInsightsDataBricksRunJobConnectionString"
				}
			},
			{
				"name": "Get Databricks JobID from AKV",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set DNS Name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Adb EndPoint",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Adb JobId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(variables('v_DNSName'),'secrets/',variables('v_Adb_JobId'),'/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get DatabricksEndPoint from AKV",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set DNS Name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Adb EndPoint",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Adb JobId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(variables('v_DNSName'),'secrets/',variables('v_Adb_EndPoint'),'/?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Adb JobId",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_Adb_JobId",
					"value": "DigitalInsightsDatabricksDigitalCommScoresJobID"
				}
			}
		],
		"variables": {
			"v_DNSName": {
				"type": "String"
			},
			"v_Secret": {
				"type": "String"
			},
			"v_Adb_EndPoint": {
				"type": "String"
			},
			"v_Adb_JobId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/DigitalInsights/DigitalComm/Scores"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-27T18:01:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}