pipeline/0_GPRO_ValidacaoCCTTV_PPL.json
{
	"name": "0_GPRO_ValidacaoCCTTV_PPL",
	"properties": {
		"activities": [
			{
				"name": "copy_validacaoccttv",
				"description": "Faz uma cópia (\"tira uma foto\") da tabela, e salva em uma pasta particionada por dia na PZ.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 120,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select * from CCTTV_VALIDACAO",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AvroSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "AvroWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Source_CommandCenterOpigServer_DTS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_GPRO_Ccttv_DTS",
						"type": "DatasetReference",
						"parameters": {
							"path_pz": {
								"value": "@concat('Brazil/Gpro/ValidacaoCcttv/', formatDateTime(utcnow(), 'yyyyMMdd'), '/', formatDateTime(utcnow(), 'HHmmss'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "PZ_HZ",
				"description": "É salvo o histórico das alterações dos registros dos clientes.",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "copy_validacaoccttv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/GPRO/CCTTV/ValidacaoCCTTV/PZ_HZ_GPRO_ValidacaoCCTTV",
					"baseParameters": {
						"data": {
							"value": "@variables('data')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HZ_CZ",
				"description": "Na CZ é identificado cada cliente por data de referência (dat_ref) e é salvo a última alteração dos mesmos.",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PZ_HZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/GPRO/CCTTV/ValidacaoCCTTV/HZ_CZ_GPRO_ValidacaoCCTTV"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Data",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"data": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/GPRO/CCTTV"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-08T15:38:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}