pipeline/0_GPRO_AderenciaTTV_PPL.json
{
	"name": "0_GPRO_AderenciaTTV_PPL",
	"properties": {
		"activities": [
			{
				"name": "PZ_HZ",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DL_PZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/GPRO/AderenciaTTV/PZ_HZ_GPRO_AderenciaTTV",
					"baseParameters": {
						"data": {
							"value": "@variables('data')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HZ_CZ",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PZ_HZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/GPRO/AderenciaTTV/HZ_CZ_GPRO_AderenciaTTV"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SET_Data_UTC",
				"description": "Set the dataUTC variable.",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dataUTC",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_Data",
				"description": "Set the data.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_Data_UTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "data",
					"value": {
						"value": "@replace(substring(variables('dataUTC'),0,10), '-', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DL_PZ",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Source_DL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/GPRO/AderenciaTTV/DL_PZ_GPRO_AderenciaTTV",
					"baseParameters": {
						"data": {
							"value": "@variables('data')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If_Past_15_UTC",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "HZ_CZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(greaterOrEquals(int(substring(split(variables('dataUTC'), 'T')[1], 0, 2)), 15))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CZ_DW",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Brazil/Generics/Writer/CZ_DW_WRITER",
								"baseParameters": {
									"tzPath": {
										"value": "/mnt/consumezone/Brazil/Sales/RevenueManagement/Compartilhado/AderenciaTtv/",
										"type": "Expression"
									},
									"dwTable": "gpro.aderencia_ttv"
								}
							},
							"linkedServiceName": {
								"referenceName": "CommandCenterDatabricksPricing",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "CZ_BLOB_AderenciaTtv",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "HZ_CZ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Modelagem/SelfService/CZ_BLOB_AderenciaTtv"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Source_DL",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.3:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/GPRO/AderenciaTTV/Source_DL_GPRO_AderenciaTtv",
					"baseParameters": {
						"source_reading_mode": "d-1"
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"dataUTC": {
				"type": "String"
			},
			"data": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/GPRO/Aderencia_TTV"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-27T15:43:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}