pipeline/0_Scanntech_Phase01_PPL.json
{
	"name": "0_Scanntech_Phase01_PPL",
	"properties": {
		"activities": [
			{
				"name": "If updates dates are the same",
				"description": "Comparar as datas de atualização mais recente dos databases fsellout AS e IM",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CZ_CZ_Scanntech_Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CZ_CZ_Scanntech_Parameters').output.runOutput,pipeline().parameters.diferenca_data_var)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "MonitorQuery_ScanntechTatico",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "ScanntechTool",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Operation/Brazil/Scanntech/ScanntechTaticoMonitor"
							},
							"linkedServiceName": {
								"referenceName": "CommandCenterDatabricks2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "MonitorQuery_ScanntechGerencial",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "ScanntechTool",
									"dependencyConditions": [
										"Failed",
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Operation/Brazil/Scanntech/ScanntechGerencialMonitor"
							},
							"linkedServiceName": {
								"referenceName": "CommandCenterDatabricksGov",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "PipelineStatusMonitor_ScanntechSellout",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "ScanntechTool",
									"dependencyConditions": [
										"Failed",
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Operation/Monitor/PipelineStatusMonitorDatabricks",
								"baseParameters": {
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"factoryName": "adf-prod-iris-commandcenter",
									"resourceGroup": "AMBEV-IRIS-RG-EUS-ATCS-PROD",
									"checkChildrenOf": " "
								}
							},
							"linkedServiceName": {
								"referenceName": "CommandCenterDatabricksGov",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Scanntech_Phase01",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "1_Scanntech_Fato_Phase01",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Scanntech_Totalizador",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Scanntech_Phase01",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "1_Scanntech_Totalizador_Phase01",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Scanntech_WriteDwFato_Phase01",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Scanntech_Totalizador",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "1_Scanntech_WriteDwFato_Phase01",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "ScanntechTool",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Scanntech_WriteDwFato_Phase01",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "1_CZ_CZ_Sales_InteligenciaDeMercado_ScanntechTool_PPL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "True",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "CZ_CZ_Scanntech_Parameters",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Scanntech/SellOutEvolutionPhase01V01/CZ_CZ_Scanntech_Parameters"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"diferenca_data_var": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"variables": {
			"dateUTC": {
				"type": "String"
			},
			"date": {
				"type": "String"
			},
			"weeks": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/Scanntech"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-27T19:36:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}