pipeline/1_BessForce_Visits_PPL.json
{
	"name": "1_BessForce_Visits_PPL",
	"properties": {
		"activities": [
			{
				"name": "HZ_CZ_Visits",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PZ_HZ_Visits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/TasksBeesForce/Visits/HZ_CZ_Visits",
					"baseParameters": {
						"ingestion_date": {
							"value": "@variables('ingestion_date')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "API_PZ_Visits",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Definindo Ingestion_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.05:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 300,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/TasksBeesForce/Visits/API_PZ_Visits",
					"baseParameters": {
						"ingestion_date": {
							"value": "@variables('ingestion_date')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PZ_HZ_Visits",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "API_PZ_Visits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/TasksBeesForce/Visits/PZ_HZ_Visits",
					"baseParameters": {
						"ingestion_date": {
							"value": "@variables('ingestion_date')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Definindo Ingestion_date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ingestion_date",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CZ_CZ_Tasks_Create",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "HZ_CZ_Visits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/TasksBeesForce/Tasks/11_CZ_CZ_Tasks_Create"
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_CZ_Tasks_Prospect_Create",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CZ_API_Tasks_Montlhy_UpdateVisits",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/TasksBeesForce/Tasks/14_CZ_CZ_Tasks_Prospect_Create"
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_API_CreateTasks",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CZ_CZ_Tasks_Prospect_Create",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/TasksBeesForce/Tasks/15_CZ_API_Tasks_Prospect_Create"
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_API_Tasks_Create",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CZ_CZ_Tasks_Create",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/TasksBeesForce/Tasks/12_CZ_API_Tasks_Create"
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_API_Tasks_Montlhy_UpdateVisits",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CZ_API_Tasks_Create",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/TasksBeesForce/Tasks/13_CZ_API_Tasks_UpdateMonthly"
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_CZ_Tasks_KPIs",
				"description": "",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CZ_API_CreateTasks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/TasksBeesForce/Tasks/10_CZ_CZ_Tasks_KPIs"
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ingestion_date": {
				"type": "String",
				"defaultValue": "0000-00-00T00:00:00.0000000Z"
			}
		},
		"folder": {
			"name": "Brazil/DigitalInsights/BeesForce/Visits"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-03T15:54:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}