pipeline/1_CZ_CZ_Sales_InteligenciaDeMercado_MixRateEvolution_PPL.json
{
	"name": "1_CZ_CZ_Sales_InteligenciaDeMercado_MixRateEvolution_PPL",
	"properties": {
		"activities": [
			{
				"name": "1-Origens",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_Origem"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach Objeto Dimensoes PBI",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Definindo objetos de Dimensoes PBI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_array')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Atualizacao dataflows PBI",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Generics_PBI_Refresh",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"id_grupo": {
										"value": "@item().id_grupo",
										"type": "Expression"
									},
									"id_objeto": {
										"value": "@item().id_objeto",
										"type": "Expression"
									},
									"is_dataflow": {
										"value": "@item().is_dataflow",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Definindo objetos de Dimensoes PBI",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait Dimensoes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_array",
					"value": [
						{
							"nome": "mix_rate_dimensao_v2",
							"id_grupo": "99d9a740-b959-49ee-93ac-593ed91cd2e9",
							"id_objeto": "128b1a73-8a7d-48b8-9bd5-7a5af82cc1c7",
							"is_dataflow": true
						}
					]
				}
			},
			{
				"name": "12-Fato MixRateImpacts",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Wait Dimensoes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_Fato"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Atualizacao dataset_mix_rate_impacts",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Objeto Dimensoes PBI",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Atualizacao Fato MixRateImpatcs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generics_PBI_Refresh",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"id_grupo": {
							"value": "99d9a740-b959-49ee-93ac-593ed91cd2e9",
							"type": "Expression"
						},
						"id_objeto": {
							"value": "4c7ef720-eb3b-47a9-b333-8595d7f9490f",
							"type": "Expression"
						},
						"is_dataflow": {
							"value": "false",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "7-DimPeriodo",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "6-MixRateImpacts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_DimPeriodo"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait Dimensoes",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "7-DimPeriodo",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "8-DimGrpEmbalagem",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "9-DimProduto",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "10-DimSegmento",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "11-DimAreaCanal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "Atualizacao Fato MixRateImpatcs",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "12-Fato MixRateImpacts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Generics_PBI_Refresh",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"id_grupo": {
							"value": "99d9a740-b959-49ee-93ac-593ed91cd2e9",
							"type": "Expression"
						},
						"id_objeto": {
							"value": "4bde2029-b08f-4bc9-b266-15b50372bd1f",
							"type": "Expression"
						},
						"is_dataflow": true
					}
				}
			},
			{
				"name": "3-Uniao Origens Tratadas",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "2-DimFabricante",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_UniaoOrigensTratadas"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "4-Independente Ajustado",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "3-Uniao Origens Tratadas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_IndependenteAjustado"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "5-Scantrack Ajustado",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "4-Independente Ajustado",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_ScantrackAjustado"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "6-MixRateImpacts",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "5-Scantrack Ajustado",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_MixRateImpacts"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "8-DimGrpEmbalagem",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "6-MixRateImpacts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_DimGrupoEmbalagem"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "9-DimProduto",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "6-MixRateImpacts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_DimProduto"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "10-DimSegmento",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "6-MixRateImpacts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_DimSegmento"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "11-DimAreaCanal",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "6-MixRateImpacts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_DimAreaCanal"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "2-DimFabricante",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "1-Origens",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/Modelagem/MixRateEvolution/CZ_CZ_MixRateEvolution_DimFabricante"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_array": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Brazil/SalesLabIM/Modelagem/MixRate-Evolution"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-19T19:51:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}