pipeline/1_S3_PZ_Dataplor_Places_PPL.json
{
	"name": "1_S3_PZ_Dataplor_Places_PPL",
	"properties": {
		"activities": [
			{
				"name": "S3_PZ_Dataplor_Places_DB",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach Folder Item",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/DigitalInsights/Rtm/Dataplor/S3_PZ_Dataplor_Places_DB",
					"baseParameters": {
						"adf_input_value": {
							"value": "@join(variables('item_name'), ';')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DigitalInsightsDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable last_item_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "S3_PZ_Dataplor_Places_DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_item_name",
					"value": {
						"value": "@activity('S3_PZ_Dataplor_Places_DB').output.runOutput.adf_output_value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata Dataplor",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Delete Dataplor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Source_Dataplor_Places_DTS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata Dataplor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Dataplor').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item()['name'], 'br')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Folder Item",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "item_name",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Copy data S3 - Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable last_item_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AmazonS3ReadSettings",
							"recursive": true,
							"wildcardFileName": {
								"value": "@variables('last_item_name')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AvroSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "AvroWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "dataplor_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dataplor_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "main_category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "main_category",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "sub_category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sub_category",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "sub_sub_category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sub_sub_category",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "business_category",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "business_category",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "phone",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "phone",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "mobile",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mobile",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "address",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "address",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "address2",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "address2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "neighborhood",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "neighborhood",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "city",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "city",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "state",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "state",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "postal_code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "postal_code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "country_code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "country_code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "country",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "latitude",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "latitude",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "longitude",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "longitude",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dataplor_status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "dataplor_status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "duplicate_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "duplicate_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "confidence_score",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "confidence_score",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Dataplor_Places_DTS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Dataplor_Places_DTS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data Blob - PZ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data S3 - Blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AvroSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AvroSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "AvroWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sink_Dataplor_Places_DTS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Dataplor_Places2_DTS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete Dataplor",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Sink_Dataplor_Places_DTS",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "DigitalInsightsRtmBlobStorage",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"item_name": {
				"type": "Array"
			},
			"last_item_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/DigitalInsights/RTM/ExternalBases/Dataplor"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-20T15:37:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}