pipeline/1_Scanntech_Fato_Phase01.json
{
	"name": "1_Scanntech_Fato_Phase01",
	"properties": {
		"activities": [
			{
				"name": "CZ_CZ_Scanntech_Dpdv",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Scanntech/SellOutEvolutionPhase01V01/CZ_CZ_Scanntech_Dpdv"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_CZ_Scanntech_Dproduct",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Scanntech/SellOutEvolutionPhase01V01/CZ_CZ_Scanntech_Dproduct"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_CZ_Scanntech_Dtime",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Scanntech/SellOutEvolutionPhase01V01/CZ_CZ_Scanntech_Dtime"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_CZ_Scanntech_Duniverso",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Scanntech/SellOutEvolutionPhase01V01/CZ_CZ_Scanntech_Duniverso"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_CZ_Scanntech_Fsellout",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CZ_CZ_Scanntech_Dpdv",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CZ_CZ_Scanntech_Dproduct",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CZ_CZ_Scanntech_Dtime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CZ_CZ_Scanntech_Duniverso",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Scanntech/SellOutEvolutionPhase01V01/CZ_CZ_Scanntech_Fsellout",
					"baseParameters": {
						"date": {
							"value": "@variables('date')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SET_Data_UTC",
				"description": "Set the variable \"dataUTC\" with the value from current date. ",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dateUTC",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_Data",
				"description": "Set the variable \"data\" with the first 10 characters from dataUTC and replace the dashes with null spaces.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_Data_UTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "date",
					"value": {
						"value": "@replace(substring(variables('dateUTC'),0,10), '-', '')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"dateUTC": {
				"type": "String"
			},
			"date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/Scanntech"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-06T17:25:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}