pipeline/2_DL_CZ_InteligenciaDeMercado_DemandaDpgBaseDiaria_PPL.json
{
	"name": "2_DL_CZ_InteligenciaDeMercado_DemandaDpgBaseDiaria_PPL",
	"properties": {
		"activities": [
			{
				"name": "SET_Data",
				"description": "Set the variable \"data\" with the first 10 characters from dataUTC and replace the dashes with null spaces.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_Data_UTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "date",
					"value": {
						"value": "@replace(substring(variables('DateUTC'),0,10), '-', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_Data_UTC",
				"description": "Set the variable \"dataUTC\" with the value from current date. ",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dateUTC",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DL_CZ_DemandaDPG_BaseDiaria",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/SalesLabIM/DemandaDPG/BaseDiaria/DL_CZ_DemandaDPG_BaseDiaria",
					"baseParameters": {
						"diretorio": {
							"value": "@pipeline().parameters.diretorio",
							"type": "Expression"
						},
						"date": {
							"value": "@variables('date')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksInteligenciaMercado",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"diretorio": {
				"type": "string",
				"defaultValue": "OHD_ALL_DP_KF"
			}
		},
		"variables": {
			"dateUTC": {
				"type": "String"
			},
			"date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/SalesLabIM/DemandaDPG/BaseDiaria"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T14:09:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}