pipeline/2_DL_CZ_InteligenciaDeMercado_HomeScan_PPL.json
{
	"name": "2_DL_CZ_InteligenciaDeMercado_HomeScan_PPL",
	"properties": {
		"activities": [
			{
				"name": "SET_Data_UTC",
				"description": "Set the dataUTC variable.",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataUTC",
					"value": {
						"value": "@convertTimeZone(utcnow(), 'UTC', 'E. South America Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_Data_File",
				"description": "Modificar esta data, para a data de reprocessamento necessária",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_Data_UTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Data_File",
					"value": {
						"value": "@replace(substring(variables('DataUTC'),0,10), '-', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_Data",
				"description": "Data Atual utilizado para update_date CZ",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_Data_UTC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Data",
					"value": {
						"value": "@replace(substring(variables('DataUTC'),0,10), '-', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DL_CZ_Dperiodo",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data_File",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Nielsen/HomeScan/DL_CZ_Nielsen_HomeScanDperiodo",
					"baseParameters": {
						"data": {
							"value": "@variables('Data_File')",
							"type": "Expression"
						},
						"diretorio": {
							"value": "@pipeline().parameters.dir_homescan",
							"type": "Expression"
						},
						"table_name": {
							"value": "@pipeline().parameters.per_table_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DL_HZ_Dmercado",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data_File",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Nielsen/HomeScan/DL_HZ_Nielsen_HomeScan_Dmercado",
					"baseParameters": {
						"data": {
							"value": "@variables('Data_File')",
							"type": "Expression"
						},
						"diretorio": {
							"value": "@pipeline().parameters.dir_homescan",
							"type": "Expression"
						},
						"table_name": {
							"value": "@pipeline().parameters.mkt_table_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DL_HZ_Dproduto",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data_File",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Nielsen/HomeScan/DL_HZ_Nielsen_HomeScan_Dproduto",
					"baseParameters": {
						"data": {
							"value": "@variables('Data_File')",
							"type": "Expression"
						},
						"diretorio": {
							"value": "@pipeline().parameters.dir_homescan",
							"type": "Expression"
						},
						"table_name": {
							"value": "@pipeline().parameters.prod_table_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DL_HZ_Fato",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SET_Data_File",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Nielsen/HomeScan/DL_HZ_Nielsen_HomeScan_Fato",
					"baseParameters": {
						"data": {
							"value": "@variables('Data_File')",
							"type": "Expression"
						},
						"diretorio": {
							"value": "@pipeline().parameters.dir_homescan",
							"type": "Expression"
						},
						"table_name": {
							"value": "@pipeline().parameters.fact_table_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricks2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HZ_CZ_Dmercado",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DL_HZ_Dmercado",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Nielsen/HomeScan/HZ_CZ_Nielsen_HomeScan_Dmercado",
					"baseParameters": {
						"data": {
							"value": "@variables('Data')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HZ_CZ_Dproduto",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DL_HZ_Dproduto",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Nielsen/HomeScan/HZ_CZ_Nielsen_HomeScan_Dproduto",
					"baseParameters": {
						"data": {
							"value": "@variables('Data')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricksPricing",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "HZ_CZ_Fato",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "DL_HZ_Fato",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DL_CZ_Dperiodo",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "HZ_CZ_Dmercado",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "HZ_CZ_Dproduto",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Nielsen/HomeScan/HZ_CZ_Nielsen_HomeScan_Fato",
					"baseParameters": {
						"data": {
							"value": "@variables('Data')",
							"type": "Expression"
						},
						"date_list": {
							"value": "@string(activity('DL_CZ_Dperiodo').output.runOutput)",
							"type": "Expression"
						},
						"diretorio": {
							"value": "@pipeline().parameters.dir_homescan",
							"type": "Expression"
						},
						"table_name": {
							"value": "@pipeline().parameters.factmap_table_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricks2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CZ_CZ_HomeScan_Presto",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "HZ_CZ_Fato",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Brazil/Nielsen/HomeScan/CZ_CZ_HomeScan_Presto"
				},
				"linkedServiceName": {
					"referenceName": "CommandCenterDatabricks2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"dir_homescan": {
				"type": "string",
				"defaultValue": "HomeScan"
			},
			"mkt_table_name": {
				"type": "string",
				"defaultValue": "MKT"
			},
			"per_table_name": {
				"type": "string",
				"defaultValue": "PER"
			},
			"prod_table_name": {
				"type": "string",
				"defaultValue": "PROD"
			},
			"fact_table_name": {
				"type": "string",
				"defaultValue": "fact_data"
			},
			"factmap_table_name": {
				"type": "string",
				"defaultValue": "FCT"
			}
		},
		"variables": {
			"DataUTC": {
				"type": "String"
			},
			"Data_File": {
				"type": "String"
			},
			"Data": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Brazil/Nielsen"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-09T15:46:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}